<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> {{t "newer"}}</a>
    {{/if}}
    <span class="page-number">{{t "Page {page} of {pages}" page=page pages=pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">{{t "older"}} <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>
